.Logo>a>img {
    max-width: 100px;
    height: auto;
    display: block;
}

.Main-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.Email-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30%;
    margin-right: 25%;
    margin-top: 25px;

    gap: 4px;

    font-size: x-large;
    >input{
        min-height: 30px;
        background-color: #D9D9D9;
        border: 1px solid;        ;
    }
}

.text-guide{
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 20px;
    margin-top: 35px;


    font-size: x-large;
    font-weight: 600

}

.reset-btn{
    display: flex;
    justify-content: center;
    
    >a >button{
        background-color: #F37518;
        color: #D9D9D9;

        padding: 10px 12px;

        font-size: x-large;
        font-weight: 500;

    }
}

.reset-btn >a >button:hover{
    background-color: #D9D9D9;
    color: #F37518;

    font-size: xx-large;
    cursor: pointer;
}

.ForgetPageContainer{
    position: absolute;
    /* margin-top: 52%; */
    top: 0;
    padding: 20px;
    padding-bottom: 67px;
    right:0 ;
    align-self: center;
    background-color:  rgb(139, 69, 18);
}