.footer-box {
    background-color: #D9D9D9;
    color: white;
    display: flex;
    flex-direction: row;

}

.footer-box> .logo > img {
    height: auto;
    display: block;
    padding: 10px;
}


.navi {
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-self: start;
    padding-top: 15px;
}


.navi a {
    color: black;
    text-decoration: none;
    margin: 0 20px;
    font-size: 16px;
    font-weight: 700;
}

.navi a:hover {
    text-decoration: underline;
}

.contact-btn{
    display: flex;


    color: black;flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    align-items: center; 
    >a{
        text-decoration: none;
        color: black;
    } 
    
    > a:hover{
        text-decoration: underline;
    }
    
}

.location-btn{
    display: flex;
    align-self: center;
    flex-direction: column;
    color: black;

    >h4{
        margin: 0px;
        width: fit-content;
        align-self: center;
    }
    >h5{
        margin: 2px;
        align-self: center;
        justify-self: center;
    }
}

.location-img{
    height: auto;
    display: block;
    padding-top:25px;
    padding-right: 25px;
  

}


