.day-ticket2-logo {
    display: flex;


    >a>img {
        max-width: 100px;
        height: auto;
        display: block;
        margin-left: 30px;
        margin-top: 1vh;
    }
}

.day-ticket2-title {

    align-self: center;
    justify-content: center;
    margin-left: 25%;
}

.DayTicket2-Container {

    position: absolute;
    left: 1vh;
    padding: 20px;
    max-width: 122vh;
    top: 60vh;
  
    align-self: center;
    background-color: rgb(139, 69, 18);
}

.DayTicket2-Box {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-left: 28px;
    margin-bottom: 30px;
    margin-right: 280px;


}

.DayTicket2-info {
    display: flex;
    flex-direction: column;

    gap: 10px;
    margin-left: 30px;
    min-width: 78vh;


    font-size: larger;

    background-color: #D9D9D9;

    >.DayTicket-box-h1 {
        font-size: xx-large;
        margin-left: 5px;
    }

    >.DayTicket2-box-h2 {
        margin-left: 30px;
        font-size: larger;
    }

}

.DayTicket2-img {
    border: 5px solid black;
    max-width: 250px;
    height: auto;
}


/* this is for the continue button  */

.two2-btn {
    display: flex;
    gap: 89vh;



    .continue2-bth {
        border: none;
        padding: 10px;

        font-size: x-large;
        font-weight: 700;
        font-style: italic;

        color: white;
        background-color: #F37518;
        text-decoration: none;
    }

    .continue2-bth2 {
        border: none;
        padding: 10px 30px;

        font-size: x-large;
        font-weight: 700;
        font-style: italic;

        color: white;
        background-color: #F37518;
        text-decoration: none;

    }
}

.continue2-bth2:hover{
    text-decoration: underline;
}
.continue2-bth:hover{
    text-decoration: underline;
}


/* This is the Ticket selection part  */

.Ticket2-selction {
    background-color: #D9D9D9;
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;
    min-width: 400px;
    min-height: 100px;
    margin-bottom: 10px;


    .adult-ticket2 {
        display: flex;
        flex-direction: column;

        margin-top: 10px;
        margin-left: 10px;

        font-size: large;
        font-weight: 600;
    }
}

.counter-function2 {

    display: flex;
    justify-content: flex-end;
    /* moves counter to RIGHT */
    align-items: center;
    /* centers vertically */
    width: 65%;
    /* makes right alignment work */
    gap: 15px;
    margin-right: 10px;
    margin-bottom: 20px;
    font-weight: 800;

    >button {
        border-radius: 50%;
        font-size: larger;
    }

}