.h1-heading{
    justify-self: center;
    align-self: center;
    padding: 8px;
    margin-top: 15px;

    background-color: #A0522D;
    text-align: center;
    color:white;
    border-radius: 8px;

    font-size: xx-large;
    font-weight: 800;
    font-family: Inria Serif;
}    