.box{
    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid;
    border-radius: 8px;

    margin: 20px;
    margin-right: 18%;
    width: fit-content;

    background-color: #D9D9D9;

    >.img-box{
        
        >img{
            padding: 4px;
            border-radius: 8px;
            width: 160px;
            height: auto;
            object-fit: cover;
            margin-bottom: 0;
        }

    }

    >.desc-box{
        flex: 1;
        font-size: larger;
        margin: 10px;
        line-height: 1.6;
        

    }
}