.book-h1 {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 12%;
    font-size: xx-large;
}

.ticket-h1 {
    display: flex;
    margin-left: 15%;
    margin-top: 7%;

    font-size: xx-large;

    gap: 5%;

    >input {
        margin-top: 4px;
        /* min-width: 30px;
        min-height: 30px; */
        background-color: #D9D9D9;
        border: 1px solid;
        padding: 20px;
        padding-top: 0;
        padding-bottom: 0;

        border-radius: 8px;
        border: none;

        font-size: xxx-large;



    }
}

.ticket-img {
    display: flex;
    justify-content: right;
    left: 0;
    min-width: 400px;
    height: 600px;
    

}

.ticket-date-h1 {
    display: flex;
    margin-left: 200px;
    margin-top: 100px;

    font-size: x-large;
}


.ticket-info-box-1 {
    display: flex;

    margin-left: 200px;
    margin-bottom: 30px;
    margin-right: 280px;
    background-color: #D9D9D9;


}

.ticket-info-1 {
    display: flex;
    flex-direction: column;

    gap: 10px;
    margin-left: 30px;
    min-width: 89vh;

    font-size: larger;



    >.box1-h1 {
        font-size: xx-large;
    }

    >.box1-h2 {
        margin-left: 30px;
        font-size: larger;
    }

    >button {
        align-self: flex-end;
        margin-bottom: 20px;
        margin-right: 10px;

        border: none;
        padding: 10px;

        font-size: x-large;
        font-weight: 700;
        font-style: italic;

        color: white;
        background-color: #F37518;
    }

}


.ticket-img1 {
    border: 5px solid black;
}

.ticket-info-box-2 {
    display: flex;
    margin-left: 200px;
    margin-bottom: 30px;
    margin-right: 280px;
    background-color: #D9D9D9;


}

.ticket-info-2 {
    display: flex;
    flex-direction: column;

    gap: 10px;
    margin-left: 30px;
    min-width: 90vh;

    font-size: larger;



    >.box2-h1 {
        font-size: xx-large;
    }

    >.box2-h2 {
        margin-left: 30px;
        font-size: larger;
    }

    >button {
        align-self: flex-end;
        margin-bottom: 20px;
        margin-right: 10px;
        margin-top: 60px;

        border: none;
        padding: 10px;

        font-size: x-large;
        font-weight: 700;
        font-style: italic;

        color: white;
        background-color: #F37518;
    }

}

.ticket-img2 {
    border: 5px solid black;
    max-width: 250px;
    height: auto;
}