.hero-banner{
    display: flex;
    justify-content: end;
    align-items: start;
    min-height: 100vh;
    width: 100%;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    flex-direction: column;
    gap: 100px;

    >a{
        justify-self: center;
        align-self: center;
        margin-bottom: 5%;
        
        
        border: none;
        padding: 10px;

        font-size: x-large;
        font-weight:700;
        font-style: italic;

        color: white;
        background-color: #F37518;
        
        
    }

    >button:hover{
        text-decoration: underline;
        color: #F37518;
        background-color: white;
        cursor: pointer;
    }

    >h1{
        margin-left: 3%;
        margin-bottom: 9%;
        color: #F5F5DC;
    }

}