.logo1>a>img {
    max-width: 100px;
    height: auto;
    display: block;
    margin-left: 30px;
    margin-top: 30px;
}

.main-heading{
    display: flex;
    align-items: center;
    justify-content: center;
}

.email-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30%;
    margin-right: 25%;

    gap: 4px;

    font-size: x-large;
    >input{
        min-height: 30px;
        background-color: #D9D9D9;
        border: 1px solid;
        ;
    }
}

.pass-part {
    display: flex;
    flex-direction: row;  
    

    margin-left: 30%;
    margin-right: 25%;

    gap: 10px;
    font-size: x-large;
}

.pass-part input {
    min-height: 30px;
    background-color: #D9D9D9;
    border: 1px solid;
    padding: 5px 10px;
}

.pass-part >button {
    padding: 0px 12px;
    cursor: pointer;
}


.second-part{
    display: flex;
    margin-left: 31%;
    margin-top: 10px;

    font-size: larger;
    >h6 >a{
        text-decoration: none;
        cursor: pointer;
    }
}


.click-btn:hover{
    text-transform: uppercase;
    color: #F37518;
    text-decoration: underline;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;


    >a{
        margin: 70px;


        background-color: #D9D9D9;

        text-decoration: none;
        font-size: x-large;
        font-weight: 700;
        padding: 10px 20px;
        color: black;   
    }
}

.LoginPageContainer{
    position: absolute;
    margin-top: 52%;
    padding: 20px;
    right:0 ;
    align-self: center;
    background-color:  rgb(139, 69, 18);
}
