.hotel-title {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 12%;
    font-size: xx-large;
}

.Hotel-selction1 {
    background-color: #D9D9D9;
    display: flex;
    align-self: flex-start;
    justify-self: flex-start;
    min-width: 400px;
    min-height: 100px;
    margin-top: 80px;
    margin-left: 60px;


    .select-adult {
        display: flex;
        flex-direction: column;

        margin-top: 10px;
        margin-left: 10px;

        font-size: large;
        font-weight: 600;
    }
}

.Hotel-selction2 {
    background-color: #D9D9D9;
    display: flex;
    align-self: flex-start;
    justify-self: flex-start;
    min-width: 400px;
    min-height: 100px;
    margin-top: 10px;
    margin-left: 60px;


    .select-child {
        display: flex;
        flex-direction: column;

        margin-top: 10px;
        margin-left: 10px;

        font-size: large;
        font-weight: 600;
    }
}

.hotelCounter-function2 {

    display: flex;
    justify-content: flex-end;
    /* moves counter to RIGHT */
    align-items: center;
    /* centers vertically */
    width: 65%;
    /* makes right alignment work */
    gap: 15px;
    margin-right: 10px;
    margin-bottom: 20px;
    font-weight: 800;

    >button {
        border-radius: 50%;
        font-size: larger;
    }

}

.hotelCounter-function1 {

    display: flex;
    justify-content: flex-end;
    /* moves counter to RIGHT */
    align-items: center;
    /* centers vertically */
    width: 79%;
    /* makes right alignment work */
    gap: 15px;
    margin-right: 10px;
    margin-bottom: 20px;
    font-weight: 800;

    >button {
        border-radius: 50%;
        font-size: larger;
    }

}


/* DEsign the calender for the dates */
.hotel-calendar-section {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 20px auto;
    margin-top: 0px;
    font-family: Arial, sans-serif;
}

.start-date-label h3 {
    margin-bottom: 8px;
    font-size: 1.1rem;
    color: #333;
}

.date-box {
    border: 2px solid #333;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.date-box:hover {
    background-color: #e6e6e6;
}

.date-display {
    font-size: 1rem;
    color: #333;
}

.calendar-popup {
    margin-top: 10px;
    z-index: 100;
}




.hotel-continue-btn{
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    padding: 10px 30px;

    font-size: x-large;
    font-weight: 700;
    font-style: italic;

    color: white;
    background-color: #F37518;
    text-decoration: none;

}



.continue2-bth:hover {
    text-decoration: underline;
}