.counter-conatiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    >.counter-function {
        display: flex;
        align-items: center;
        gap: 20px;



    }

}